#container {
    height: 500px;
    width: 500px;
    padding: 20px;
    margin: 20px;
    background-color: gray;
}
.squares {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
#square1 {
    background-color: red;
}

#square2 {
    background-color: blue;
}

#square3 {
    background-color: green;
}

 #square4 {
background-color: black;
}

#square5 {
background-color: yellow;
}

#square6 {
background-color: greenyellow;
}

#square7 {
background-color: violet;
}

#square8 {
background-color: olive;
}

#square9 {
background-color: orange;
}
